<section id="skill">
    <div class="skill-container">
        <h1><span style="color: #77a1d8;">S</span>kills</h1>
        <div class="grid-logos">
            <div class="logos">
                <img src="../../../../../assets/img/svg/html.svg" alt="html">
                <p>Html</p>
            </div>
            <div class="logos">
                <img src="../../../../../assets/img/svg/css-alt.svg" alt="css">
                <p>Css</p>
            </div>
            <div class="logos">
                <img src="../../../../../assets/img/svg/javascript-3.svg" alt="javascprit">
                <p>Javascprit</p>
            </div>
            <div class="logos">
                <img src="../../../../../assets/img/svg/typescript.svg" alt="angular">
                <p>TypeScrip</p>
            </div>
            <div class="logos">
                <img src="../../../../../assets/img/svg/Angular_full_color_logo.svg.png" alt="angular">
                <p>Angular</p>
            </div>

            <div class="logos">
                <img src="../../../../../assets/img/svg/sass-logo-7702.svg" alt="Scss">
                <p>Scss</p>
            </div>
            <div class="logos">
                <img src="../../../../../assets/img/svg/git.png" alt="git">
                <p>Git</p>
            </div>
            <div class="logos">
                <img src="../../../../../assets/img/svg/GitHub-Logo.svg"alt="git-hub">
                <p>Git Hub</p>
            </div>
            <div class="logos">
                <img src="../../../../../assets/img/svg/Bootstrap_logo.svg" alt="bootstrap">
                <p>Bootstrap</p>
            </div>
            <div class="logos">
                <img src="../../../../../assets/img/svg/tailwind-css-seeklogo.svg" alt="bootstrap">
                <p>Tailwind</p>
            </div>

        </div>
    </div>

</section>
