<section id="sobre-mi">
    <div class="sobre-mi-container">
        <h1>Sobre <span>Mi</span></h1>
        <p>
            <b style="color: #77a1d8;">Soy</b> un entusiasta desarrollador <b style="color: #77a1d8;">frontend </b> con
            un enfoque especial en Angular.
            He dedicado tiempo y esfuerzo a aprender y dominar las tecnologías clave como <b
                style="color: #77a1d8;">HTML,
                CSS, JavaScript y Angular.</b>
            <br>
            <b style="color: #77a1d8;">Estoy</b> emocionado por poner en práctica mis habilidades y contribuir a
            proyectos
            desafiantes que me permitan <b style="color: #77a1d8;">crecer</b> profesionalmente y aprender de manera
            continua.
        </p>

    </div>
</section>