<section id="contacto">
    <div class="contacto-container">
        <h1>
            <span style="color: #77a1d8;">C</span>ontacto
        </h1>
        <div class="contacto-conten">
            <p class="email">braian_1721&#64;hotmail.com</p>
            <button class="copy" (click)="copiarAlPortapapeles()">
                <img src="../../../assets/img/svg/copy2.svg" alt="copy">
            </button>
        </div>
        <div class="icons-container">

            <div class="icon">
                <a href="https://wa.link/l2b4pp" target="_blank">
                    <img src="../../../assets/img/svg/whatsapp.svg" alt="whatsapp">
                </a>
            </div>
            <div class="icon">
                <a href="https://github.com/BraianKandyba" target="_blank">
                    <img src="../../../assets/img/svg/github blue.svg" alt="git hub">
                </a>
            </div>
            <div class="icon">
                <a href="https://www.linkedin.com/in/braian-kandyba-a7621021a/" target="_blank">
                    <img src="../../../assets/img/svg/linkedin.svg" alt="linkedin">
                </a>
            </div>



        </div>

    </div>


</section>

