
<section id="contacto">
    <div class="contacto-container">
        <h1>
            <span style="color: #77a1d8;">C</span>ontacto
        </h1>
        <div class="contacto-conten">
            <p class="email">braian_1721&#64;hotmail.com</p>
            <button class="copy" (click)="copiarAlPortapapeles()" >
                <img src="../../../assets/img/svg/copy2.svg" alt="copy">
            </button>
        </div>
        <div class="icons-container">

            <div class="icon">
                <a href="https://wa.link/l2b4pp" target="_blank">
                    <img src="../../../assets/img/svg/whatsapp.svg" alt="whatsapp">
                </a>
            </div>
            <div class="icon">
                <a href="https://github.com/braian1722?tab=repositories" target="_blank">
                    <img src="../../../assets/img/svg/github blue.svg" alt="git hub">
                </a>
            </div>
            <div class="icon">
                <a href="https://www.linkedin.com/in/braian-kandyba-a7621021a/" target="_blank">
                    <img src="../../../assets/img/svg/linkedin.svg" alt="linkedin">
                </a>
            </div>

                

        </div>

    </div>


</section>











    <!-- <h1 style="text-align: center; font-size: 3rem;" >
        <b style="color: antiquewhite;">Contacto</b>
    </h1>
    <div class="form-container">
        <form [formGroup]="contactoForm" (ngSubmit)="onSubmit()" class="contacto-form">
            <input id="nombre" formControlName="nombre" type="text" placeholder="Nombre">
            <input id="email" formControlName="email" type="email" placeholder="Emai">
            <input id="mensaje" formControlName="mensaje" type="text" placeholder="Mensaje">
            <button type="submit" [disabled]="contactoForm.invalid">Enviar</button>


            <div *ngIf="submittedData">
                <h3>Datos Enviados:</h3>
                <p><strong>Nombre:</strong> {{ submittedData.nombre }}</p>
                <p><strong>Email:</strong> {{ submittedData.email }}</p>
                <p><strong>Mensaje:</strong> {{ submittedData.mensaje }}</p>
            </div>
        </form>
    </div>-->
