/* You can add global styles to this file, and also import other style files */
html,body{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; // Esto evita el desbordamiento horizontal
    
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-size: cover;
}





