

<section id="proyectos">
    <h1 class="title">Mis <span>Proyectos</span></h1>
    <div class="proyectos-container" >


        <div class="proyectos">
            <img class="img-proyecto" src="../../../../../assets/img/proyectos/cromacraft.png" alt="cromacraft">
            <h1>cromacraft</h1>
            <div class="tecnologias">
                <div class="img-container">
                    <img src="../../../../../assets/img/svg/html.svg" alt="html">
                </div>
                <div class="img-container">
                    <img src="../../../../../assets/img/svg/sass-logo-7702.svg" alt="sass">
                </div>
                <div class="img-container">
                    <img src="../../../../../assets/img/svg/typescript.svg" alt="typescript">
                </div>
                <div class="img-container">
                    <img src="../../../../../assets/img/svg/Angular_full_color_logo.svg.png" alt="angular">
                </div>
            </div>
            <div class="buttons-container">
                <button>
                    <a href="https://github.com/braian1722/paleta-de-colores" target="_blank">Git Hub</a>
                </button>
                <button>
                    <a href="https://paleta-de-colores-six.vercel.app/dashboard/colores" target="_blank">Demo</a>
                </button>
            </div>
        </div>
<!-- ///////////////////////////////////////////////////// -->
        <div class="proyectos">
            <img src="../../../../../assets/img/proyectos/typingpro.png" alt="typingpro">
            <h1>Typing Pro</h1>
            <div class="tecnologias">
                <div class="img-container">
                    <img src="../../../../../assets/img/svg/html.svg" alt="html">
                </div>
                <div class="img-container">
                    <img src="../../../../../assets/img/svg/sass-logo-7702.svg" alt="sass">
                </div>
                <div class="img-container">
                    <img src="../../../../../assets/img/svg/javascript-3.svg" alt="javascript">
                </div>
            </div>
            <div class="buttons-container">
                <button>
                    <a href="https://github.com/braian1722/typingPro" target="_blank">Git Hub</a>
                </button>
                <button>
                    <a href="https://typing-pro-ashy.vercel.app" target="_blank">Demo</a>
                </button>
            </div>
        </div>
<!-- ////////////////////////////////////////// -->
<div class="proyectos">
    <img src="../../../../../assets/img/proyectos/appclima.png" alt="appClima">
    <h1>App clima</h1>
    <div class="tecnologias">
        <div class="img-container">
            <img src="../../../../../assets/img/svg/html.svg" alt="html">
        </div>
        <div class="img-container">
            <img src="../../../../../assets/img/svg/sass-logo-7702.svg" alt="sass">
        </div>
        <div class="img-container">
            <img src="../../../../../assets/img/svg/javascript-3.svg" alt="javascript">
        </div>
    </div>
    <div class="buttons-container">
        <button>
            <a href="https://github.com/braian1722/app-clima" target="_blank">Git Hub</a>
        </button>
        <button>
            <a href="https://app-clima-g3jgi7gxq-braian-kandybas-projects.vercel.app/" target="_blank">Demo</a>
        </button>
    </div>
</div>



    </div>



</section>
